.box_aboutme {
  background: linear-gradient(to bottom, rgb(49, 49, 49), rgb(21, 21, 21));
  //   min-height: 100vh;
}
.aboutme_name {
  display: flex;
  justify-content: space-around;
}
.aboutme_name h1 {
  font-size: 3rem;
  color: #f24464;
}
.aboutme_info {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aboutme_info div {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.aboutme_description {
  h2 {
    color: #f24464;
  }
  h3 {
    span {
      color: #93d4fc;
    }
    font-family: "Mulish", sans-serif;

    font-weight: 100;
  }

  padding: 3rem;
  display: flex;
  flex-direction: column;
  color: aliceblue;
}
.gif2 {
  width: 40%;
  height: auto;
}

@media (min-width: 1600px) {
  .aboutme_description {
    h3 {
      font-size: 50px;
    }
  }
}
@media (min-width: 1200px) and (max-width:1599px) {
  .aboutme_description {
    h3 {
      font-size: 30px;
    }
  }
}
@media (min-width: 900px) and (max-width: 1199px){
  .aboutme_description {
    h3 {
      font-size: 20px;
    }
  }
}
@media (max-width: 899px) {
  .aboutme_info div {
    align-items: center;
    flex-direction: column;
  }
  .aboutme_description {
    padding: 1rem;
    h3 {
      font-size: 10px;
    }
  }
  .gif2,
  .gif1 {
    width: 40%;
    height: auto;
  }
}

// @media  (min-width: 1600px) {}
// @media (min-width: 1200px) and (min-width: 1599px ){}
// @media  (min-width: 900px) and (min-width: 1199px ){}
// @media (max-width: 899px){}
