.home_inicio {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("../../Img/fonfogeometrico.jpg");
  background-blend-mode: overlay;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Color de fondo con opacidad (0.5 = 50% de opacidad) */
  background-size: cover;
  color: aliceblue;
}
.box_menu {
  padding-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.description {
  font-family: "Mulish", sans-serif;
}
.box_h2 {
  font-weight: 300;
  color: #ffffff;
}
.box_name {
  color: #f24464;
}
.box_span {
  display: block;
  font-family: monospace;
  font-size: 25px;
  white-space: nowrap;
  border-right: 10px solid;
  width: 25ch;
  animation: typing 5s steps(25), blink 0.5s infinite step-end alternate;
  overflow: hidden;
}

@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@keyframes wipe-out-bottom-left {
  from {
    clip-path: polygon(50% -50%, 150% 50%, 50% 150%, -50% 50%);
  }
  to {
    clip-path: polygon(-50% 50%, 50% 150%, 50% 150%, -50% 50%);
  }
}

// [transition-style="out:wipe:bottom-left"] {
//   animation: 2.5s cubic-bezier(.25, 1, .30, 1) wipe-out-bottom-left both;
// }

.poster {
  height: 300px;
  width: 230px;
  transition: box-shadow 0.1s, transform 0.1s; /* Corregido: transition-property y valores separados por coma */
  // background:
  // url("../../Img/WhatsApp\ Image\ 2023-04-26\ at\ 11.00.37-fotor-bg-remover-2023062223038.png")
  // no-repeat
  // center;
  background-color: #f244649f;
  border: 10px solid #8dcbf2;
  background-size: cover;
  border-radius: 5px;
}
.poster img {
  width: 100%;
  height: 100%;
}

.poster:hover {
  box-shadow: 0px 0px 50px #02609a;
}

// ---------buttom 2
.btn-5,
.btn-5 *,
.btn-5 :after,
.btn-5 :before,
.btn-5:after,
.btn-5:before {
  border: 0 solid;
  box-sizing: border-box;
}
.btn-5 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
  text-transform: uppercase;
}
.btn-5:disabled {
  cursor: default;
}
.btn-5:-moz-focusring {
  outline: auto;
}
.btn-5 svg {
  display: block;
  vertical-align: middle;
}
.btn-5 [hidden] {
  display: none;
}
.btn-5 {
  border-radius: 99rem;
  border-width: 2px;
  overflow: hidden;
  padding: 0.8rem 3rem;
  position: relative;
}
.btn-5 span {
  mix-blend-mode: difference;
}
.btn-5:before {
  --tilt: 1.2rem;
  background: #fff;
  -webkit-clip-path: polygon(
    0 0,
    calc(100% - var(--tilt)) 0,
    100% 50%,
    calc(100% - var(--tilt)) 100%,
    0 100%
  );
  clip-path: polygon(
    0 0,
    calc(100% - var(--tilt)) 0,
    100% 50%,
    calc(100% - var(--tilt)) 100%,
    0 100%
  );
  content: "";
  display: block;
  height: 100%;
  left: calc(-100% - var(--tilt));
  position: absolute;
  top: 0;
  transform: translateX(var(--progress, 0));
  transition: transform 0.2s ease;
  width: calc(100% + var(--tilt));
}
.btn-5:hover:before {
  --progress: 100%;
}

@media  (min-width: 1600px) {
  .poster {
    width: 500px;
    height: 600px;
    border: 25px solid #8dcbf2;
    border-radius: 20px;
  }
  .poster:hover {
    box-shadow: 0px 0px 150px #0a69a5;
  }

  .box_h2 {
    font-size: 100px;
  }
  .box_name {
    font-size: 100px;
    color: #ab254e;
  }
  .box_span {
    font-size: 50px;
    white-space: nowrap;
    border-right: 25px solid;

    animation: typing 5s steps(25), blink 0.5s infinite step-end alternate;
    overflow: hidden;
  }
  .btn-5 {
    margin: 30px;
    font-size: 50px;
    padding: 30px;
  }
}
@media (min-width: 1200px) {
  .poster {
    width: 300px;
    height: 400px;
    border: 15px solid #8dcbf2;
  }
  .poster:hover {
    box-shadow: 0px 0px 150px #0a69a5;
  }

  .box_h2 {
    font-size: 70px;
  }
  .box_name {
    font-size: 80px;
  }
  .box_span {
    font-size: 50px;
    border-right: 25px solid;
  }
  .btn-5 {
    margin: 30px;
    font-size: 50px;
    padding: 30px;
  }
}
@media  (min-width: 900px)  {
  .poster {
    width: 200px;
    height: 250px;
    border: 15px solid #8dcbf2;
  }
  .poster:hover {
    box-shadow: 0px 0px 150px #0a69a5;
  }

  .box_h2 {
    font-size: 50px;
  }
  .box_name {
    font-size: 70px;
  }
  .box_span {
    font-size: 40px;
    border-right: 15px solid;
  }
  .btn-5 {
    margin: 20px;
    font-size: 40px;
    padding: 20px;
  }
}
@media (max-width: 899px) {
  .box_menu {
    display: flex;
    justify-content: space-around;
    flex-direction: column-reverse;
    align-items: center;
  }
  .poster {
    width: 300px;
    height: 350px;
    border: 15px solid #8dcbf2;
    margin: 25px;
  }

  .box_h2 {
    display: none;
  }
  .box_name {
    font-size: 50px;
  }
  .div_buttom {
    display: flex;
    justify-content: center;
  }
  .btn-5 {
    margin: 10px;
    font-size: 20px;
    padding: 10px;
  }
}


// @media  (min-width: 1600px) {}
// @media (min-width: 1200px) and (min-width: 1599px ){}
// @media  (min-width: 900px) and (min-width: 1199px ){}
// @media (max-width: 899px){}
