.menu{
    background-color: #8dcbf256;
    display: flex;
    justify-content: flex-end;
    position: relative;
    padding: 1em;
    top:0;
    right:0;
    width: 100%;
    
}
.brand{
    position: fixed;
    left: 0;
    top: 0;
    padding: 0.5em;
    margin-left: 0.5em;
    z-index: 1;
}
a{
    margin:1rem;
    color: rgb(184, 228, 255);
}
ul {

    display: flex;
    justify-content: space-between;
    list-style: none;
}